{% extends 'base.html' %}

{% block title %}Добавление человека{% endblock %}

{% block content %}
<br><br><br>
  <h1 class="text-center">Добавление человека</h1><br>
  <form method="post" class="form">
    {% csrf_token %}
    <label for="id_name">Имя:</label>
    <input type="text" name="name" id="id_name" required><br><br>
    <label for="id_surname">Фамилия:</label>
    <input type="text" name="surname" id="id_surname" required><br><br>
    <label for="id_date_birth">Дата рождения:</label>
    <input type="date" name="date_birth" id="id_date_birth" required><br><br>
    <label for="id_place_residence">Место проживания:</label>
    <select name="place_residence" id="id_place_residence" required>
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select><br><br>
    <button type="submit">Добавить</button>
    <span>{{ error }}</span> 
  </form>
{% endblock %}

