{% extends 'base.html' %}

{% block title %}Список городов{% endblock %}

{% block content %}
<br><br><br>
  <h1>Список городов</h1>
  {% if cities %}
    <table class="table">
      <thead>
        <tr>         
          <th>Наименование</th>
          <th>Численность населения</th>     
          <th>Детали</th>   
        </tr>
      </thead>
      <tbody>
        {% for city in cities %}
          <tr>           
            <td>{{ city.name }}</td>
            <td>{{ city.population }}</td>            
            <td><a href="{% url 'city_detail' city.pk %}" class="btn btn-warning">Детальнее</a></td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>У нас нет записей!</p>
  {% endif %}
{% endblock %}