{% extends 'base.html' %}

{% block title %}Список стран{% endblock %}

{% block content %}
<br><br><br>
  <h1>Список стран</h1>
  {% if countries  %}
    <table class="table">
      <thead>
        <tr>         
          <th>Название</th>
          <th>Площадь</th>
          <th>Численность населения</th>          
          <th>Город</th>
          <th>Детали</th>
        </tr>
      </thead>
      <tbody>
        {% for country in countries %}
          <tr>           
            <td>{{ country.name }}</td>
            <td>{{ country.area }}</td>            
            <td>{{ country.population }}</td>            
            <td>{{ country.city }}</td>
            <td><a href="{% url 'country_detail' country.pk %}" class="btn btn-warning">Детальнее</a></td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>У нас нет записей!</p>
  {% endif %}
{% endblock %}
